html {
	height: 100%
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#flex-content-container {
	flex: 1;
}

#foooter {
	flex-shrink: 0;
	position: relative;
	width: 100%;
	min-height: 100px;
	color: white;
	font-family: 'Turret Road', cursive;
	padding: 10px 0px;
	margin-top: 30px;
}

#footer a {
	color: white;
	font-weight: 100;
}